<h1>MetaCoin</h1>
<select name="account" (change)="clickAddress($event)">
  <option *ngFor="let account of accounts">{{account}}</option>
</select>
<h2>Example Truffle Dapp</h2>
<h3>You have <span id="balance">{{model.balance}}</span> META</h3>

<h1>Products</h1>

<h2>Register products</h2>
<form #productForm="ngForm" (submit)="registerProduct(productForm)">
  <div class="form-group">
    <label for="productId">Product ID:</label>
    <input id="productId" type="text" class="form-control" ngModel="id" name="id">
  </div>
  <div class="form-group">
    <label for="productName">Product name:</label>
    <input id="productName" type="text" class="form-control" ngModel="name" name="name">
  </div>
  <div class="form-group">
    <label for="productAmount">Product price:</label>
    <input id="productAmount" type="number" class="form-control" ngModel="price" name="price">
  </div>
  <button type="submit" class="btn btn-default">Add product</button>
</form>

<h2>Product you want to buy</h2>
<select name="products">
  <option *ngFor="let p of products" value="{{p.name}}">{{p.name}}</option>
</select>


<br>
<h1>Send MetaCoin</h1>
<br/>
<label for="amount">Amount:</label>
<input type="text" id="amount" placeholder="e.g., 95"
       (change)="setAmount($event)">
<br>

<br/>
<label for="receiver">To Address:</label>
<select name="allAccounts" (click)="clickSendAddress($event)">
  <option></option>
  <option *ngFor="let a of allAccounts" value="{{a.address}}">{{a.owner}}</option>
</select>
<br/>
<input value="{{model.receiver}}" type="text" id="receiver"
       placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae"
       (change)="setReceiver($event)">
<br><br>
<button id="send" (click)="sendCoin()">Send MetaCoin</button>
<br><br>
<h3>Send transactions</h3>
<ul id="sendTransactions">{{outgoingTransactions}}</ul>
<span id="status">{{status}}</span>

